In [1]:
import numpy as np
import pandas as pd

In [2]:
geog_order = ['NH', 'VT', 'MA', 'RI', 'CT', 'NY', 'PA', 'NJ', 'DE', 'MD', 'VA', 'NC', 'SC', 'GA']
multi_CD = pd.DataFrame(columns=geog_order)

## Continental Debt by 6p Dollar

In [3]:
#uses only sum of 6 percent dollar
def sum_by_state(df, multi):
    df.columns = ['state', '6p_Dollar']
    df.loc[df[df['state'].apply(lambda x: pd.isnull(x))].index, 'state'] = 'unspecified'
    df_statewise = df.groupby('state')
    #df_count = df_statewise.count()
    df_sum = df_statewise.agg('sum').transpose()
    return multi.merge(df_sum, how='outer')

In [4]:
NH_CD = pd.read_excel("../Data/Post1790/NH/T652_R6_New_Hampshire_CD.xlsx", header = 10, usecols = 'L, N')
multi_CD = sum_by_state(NH_CD, multi_CD)

RI_CD = pd.read_excel("../Data/Post1790/RI/T653_Rhode_Island_CD.xlsx", header = 11, usecols = 'J, L')
multi_CD = sum_by_state(RI_CD, multi_CD)

CT_CD = pd.read_excel("../Data/Post1790/CT/CT_post1790_CD_ledger.xlsx", header = 13, usecols = 'K, N')
multi_CD = sum_by_state(CT_CD, multi_CD)

NY_CD = pd.read_excel("../Data/Post1790/NY/NY_1790_CD.xlsx", header = 11, usecols = 'M, P')
NY_CD.columns = ['6p_Dollar', 'state']
NY_CD.loc[NY_CD[NY_CD['state'].apply(lambda x: pd.isnull(x))].index, 'state'] = 'unspecified'
NY_CD_statewise = NY_CD.groupby('state')
NY_CD_sum = NY_CD_statewise.agg('sum').transpose()
multi_CD = multi_CD.merge(NY_CD_sum, how='outer')

PA_CD = pd.read_excel("../Data/Post1790/PA/PA_post1790_CD.xlsx", header = 11, usecols = 'J, L')
multi_CD = sum_by_state(PA_CD, multi_CD)

MD_CD = pd.read_excel("../Data/Post1790/MD/MD_post1790_CD.xlsx", header = 11, usecols = 'J, L')
multi_CD = sum_by_state(MD_CD, multi_CD)

VA_CD = pd.read_excel("../Data/Post1790/VA/VA_CD.xlsx", header = 11, usecols = 'K, M')
VA_CD.columns = ['6p_Dollar', 'state']
VA_CD.loc[VA_CD[VA_CD['state'].apply(lambda x: pd.isnull(x))].index, 'state'] = 'unspecified'
VA_CD_statewise = VA_CD.groupby('state')
VA_CD_sum = VA_CD_statewise.agg('sum').transpose()
multi_CD = multi_CD.merge(VA_CD_sum, how='outer')

NC_CD = pd.read_excel("../Data/Post1790/NC/T695_R4_NC_CD.xlsx", header = 11, usecols = 'M, W')
multi_CD = sum_by_state(NC_CD, multi_CD)

SC_CD = pd.read_excel("../Data/Post1790/SC/Post_1790_South_Carolina_CD.xlsx", header = 11, usecols = 'G, M')
multi_CD = sum_by_state(SC_CD, multi_CD)

GA_CD = pd.read_excel("../Data/Post1790/GA/T694_GA_Loan_Office_CD.xlsx", header = 10, usecols = 'T, Z')
multi_CD = sum_by_state(GA_CD, multi_CD)

In [5]:
multi_CD

,VT,RI,NY,PA,NJ,DE,MD,VA,NC,SC,...,CT,MA,NH,unspecified,BVI,BM,FR,GB,US,VI
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,266.0,24988.0,179804.0,205162.12,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,447590.0,2476.0,NaN,NaN,NaN,NaN,NaN,NaN,1427.0,...,4096.0,25396.0,208.0,59466.00,NaN,NaN,NaN,NaN,NaN,NaN
2,4840.0,1402.0,4583.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,897900.0,17333.0,1847.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1270872.00,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4473.0,1485485.0,28733.0,8377.0,3317.0,7120.0,1334.0,NaN,...,669.0,5914.0,NaN,408663.00,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,158.0,NaN,NaN,897280.0,10191.0,NaN,2097.0,...,NaN,NaN,NaN,56667.00,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,593974.00,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,207.0,NaN,NaN,NaN,530.0,637.0,33324.0,NaN,...,NaN,NaN,NaN,36444.95,234.0,NaN,NaN,NaN,NaN,NaN
8,NaN,299.0,5549.0,3273.0,NaN,NaN,440.0,181.0,576.0,992017.0,...,NaN,150.0,NaN,8134.00,1011.0,754.0,4545.0,267.0,61.0,2452.0
9,NaN,NaN,23.0,2.0,NaN,NaN,18.0,17.0,NaN,301.0,...,NaN,NaN,NaN,158.00,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
merge_order = pd.Series(['NH', 'RI', 'CT', 'NY', 'PA', 'MD', 'VA', 'NC', 'SC', 'GA'])
column_order = geog_order + ['unspecified', 'BVI', 'BM', 'FR', 'GB', 'US', 'VI']
multi_CD.set_index(merge_order, inplace=True)
multi_CD = multi_CD.reindex(index=geog_order)
multi_CD = multi_CD.reindex(columns=column_order)

In [7]:
multi_CD

,NH,VT,MA,RI,CT,NY,PA,NJ,DE,MD,...,NC,SC,GA,unspecified,BVI,BM,FR,GB,US,VI
NH,179804.0,NaN,24988.0,NaN,266.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,205162.12,NaN,NaN,NaN,NaN,NaN,NaN
VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RI,208.0,NaN,25396.0,447590.0,4096.0,2476.0,NaN,NaN,NaN,NaN,...,NaN,1427.0,NaN,59466.00,NaN,NaN,NaN,NaN,NaN,NaN
CT,1847.0,4840.0,17333.0,1402.0,897900.0,4583.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4586.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1270872.00,NaN,NaN,NaN,NaN,NaN,NaN
PA,NaN,NaN,5914.0,NaN,669.0,4473.0,1485485.0,28733.0,8377.0,3317.0,...,1334.0,NaN,NaN,408663.00,NaN,NaN,NaN,NaN,NaN,NaN
NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MD,NaN,NaN,NaN,NaN,NaN,NaN,158.0,NaN,NaN,897280.0,...,NaN,2097.0,NaN,56667.00,NaN,NaN,NaN,NaN,NaN,NaN
VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,593974.00,NaN,NaN,NaN,NaN,NaN,NaN
NC,NaN,NaN,NaN,NaN,NaN,207.0,NaN,NaN,NaN,530.0,...,33324.0,NaN,NaN,36444.95,234.0,NaN,NaN,NaN,NaN,NaN
SC,NaN,NaN,150.0,299.0,NaN,5549.0,3273.0,NaN,NaN,440.0,...,576.0,992017.0,33.0,8134.00,1011.0,754.0,4545.0,267.0,61.0,2452.0
GA,NaN,NaN,NaN,NaN,NaN,23.0,2.0,NaN,NaN,18.0,...,NaN,301.0,189.0,158.00,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def highlight_diag(df):
    a = np.full(df.shape, '', dtype='<U24')
    np.fill_diagonal(a, 'background-color: yellow')
    return pd.DataFrame(a, index=df.index, columns=df.columns)

s = multi_CD.style.format(na_rep='', precision=0)
s = s.apply(highlight_diag, axis=None)
s

## Continental Debt by percent

In [11]:
state_total = pd.Series(multi_CD[column_order].sum(axis = 1))
grand_total = state_total.sum()
multi_CD_percent = multi_CD.div(state_total, axis='index') * 100
state_percent = state_total / grand_total * 100
multi_CD_percent['total'] = state_percent

In [12]:
multi_CD_percent

,NH,VT,MA,RI,CT,NY,PA,NJ,DE,MD,...,SC,GA,unspecified,BVI,BM,FR,GB,US,VI,total
NH,43.831102,NaN,6.091364,NaN,0.064843,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.012691,NaN,NaN,NaN,NaN,NaN,NaN,5.285987
VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
RI,0.038472,NaN,4.697231,82.786007,0.757594,0.457960,NaN,NaN,NaN,NaN,...,0.263937,NaN,10.998800,NaN,NaN,NaN,NaN,NaN,NaN,6.966787
CT,0.198072,0.51904,1.858785,0.150350,96.290474,0.491479,NaN,NaN,NaN,NaN,...,NaN,0.491801,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,12.015830
NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,16.376117
PA,NaN,NaN,0.302648,NaN,0.034236,0.228905,76.019467,1.470407,0.428692,0.169747,...,NaN,NaN,20.913266,NaN,NaN,NaN,NaN,NaN,NaN,25.179817
NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
MD,NaN,NaN,NaN,NaN,NaN,NaN,0.016349,NaN,NaN,92.848355,...,0.216992,NaN,5.863763,NaN,NaN,NaN,NaN,NaN,NaN,12.452682
VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.653790
NC,NaN,NaN,NaN,NaN,NaN,0.290010,NaN,NaN,NaN,0.742537,...,NaN,NaN,51.059831,0.327837,NaN,NaN,NaN,NaN,NaN,0.919744
SC,NaN,NaN,0.014710,0.029321,NaN,0.544157,0.320964,NaN,NaN,0.043148,...,97.281175,0.003236,0.797653,0.099143,0.07394,0.445701,0.026183,0.005982,0.240453,13.140123
GA,NaN,NaN,NaN,NaN,NaN,3.248588,0.282486,NaN,NaN,2.542373,...,42.514124,26.694915,22.316384,NaN,NaN,NaN,NaN,NaN,NaN,0.009123

In [15]:
s2 = multi_CD_percent.style.format(na_rep='', precision=2).hide_columns(['BVI', 'BM', 'FR', 'GB', 'US', 'VI'])
s2 = s2.apply(highlight_diag, axis=None)
s2
s2.to_excel('CD_state_holdings_matrix.xlsx')

In [19]:
s2

## ASD by 6p Dollar

In [16]:
multi_ASD = pd.DataFrame(columns=geog_order)

In [17]:
CT_ASD = pd.read_excel("../Data/Post1790/CT/CT_post1790_ASD_ledger.xlsx", header = 13, usecols = 'K, N')
multi_ASD = sum_by_state(CT_ASD, multi_ASD)

MD_ASD = pd.read_excel("../Data/Post1790/MD/MD_post1790_ASD.xlsx", header = 11, usecols = 'J, L')
multi_ASD = sum_by_state(MD_ASD, multi_ASD)

NC_ASD = pd.read_excel("../Data/Post1790/NC/T695_R3_NC_ASD.xlsx", header = 11, usecols = 'K, P')
multi_ASD = sum_by_state(NC_ASD, multi_ASD)

NH_ASD = pd.read_excel("../Data/Post1790/NH/T652_New_Hampshire_ASD.xlsx", header = 11, usecols = 'J, M')
multi_ASD = sum_by_state(NH_ASD, multi_ASD)

In [20]:
NY_ASD = pd.read_excel("../Data/Post1790/NY/NY_1790_ASD.xlsx", header = 11, usecols = 'M, P', skiprows=[1407])
NY_ASD.columns = ['6p_Dollar', 'state']
NY_ASD.loc[NY_ASD[NY_ASD['state'].apply(lambda x: pd.isnull(x))].index, 'state'] = 'unspecified'
NY_ASD_statewise = NY_ASD.groupby('state')
NY_ASD_sum = NY_ASD_statewise.agg('sum').transpose()
#NY_ASD_sum = pd.Series(NY_ASD['6p_Dollar'].agg('sum'), name='unspecified')
multi_ASD = multi_ASD.merge(NY_ASD_sum, how='outer')

In [21]:
SC_ASD = pd.read_excel("../Data/Post1790/SC/Post_1790_South_Carolina_ASD_transfers_removed.xlsx", 
                       header = 11, usecols = 'G, M')
multi_ASD = sum_by_state(SC_ASD, multi_ASD)

RI_ASD = pd.read_excel("../Data/Post1790/RI/T653_Rhode_Island_ASD.xlsx", header = 11, usecols = 'K, N')
multi_ASD = sum_by_state(RI_ASD, multi_ASD)

VA_ASD = pd.read_excel("../Data/Post1790/VA/VA_ASD.xlsx", header = 11, usecols = 'N, Q')
VA_ASD.columns = ['6p_Dollar', 'state']
VA_ASD.loc[VA_ASD[VA_ASD['state'].apply(lambda x: pd.isnull(x))].index, 'state'] = 'unspecified'
VA_ASD_statewise = VA_ASD.groupby('state')
VA_ASD_sum = VA_ASD_statewise.agg('sum').transpose()
multi_ASD = multi_ASD.merge(VA_ASD_sum, how='outer')

multi_ASD

,DE,MD,VA,NC,SC,CT,GA,MA,NH,NJ,...,PA,RI,VT,unspecified,KY,BM,BVI,FC,FR,GB
0,NaN,NaN,NaN,NaN,NaN,542562.0,1401.00,12528.000000,959.0,1056.000000,...,210.000000,5132.000000,272.0,7.237937e+05,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,276247.0,2333.00,NaN,302.000000,NaN,NaN,NaN,NaN,NaN,...,7670.000000,NaN,NaN,3.965800e+04,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,877.0,2309.00,6087.0,400.000000,NaN,90.00,245.000000,NaN,151.000000,...,1760.000000,61.000000,NaN,6.410000e+02,61.0,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44002.000000,80300.0,NaN,...,NaN,NaN,NaN,1.266591e+05,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.228720e+06,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,3416.89,977.8,763402.702222,NaN,412.83,15293.518889,NaN,1458.702222,...,238611.281111,10087.306667,NaN,1.943907e+06,NaN,4923.18,3269.13,421.66,5484.32,102518.653333
6,NaN,NaN,NaN,NaN,NaN,1861.0,NaN,7622.000000,128.0,NaN,...,NaN,118950.000000,NaN,9.750000e+03,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.684102e+06,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
merge_order_ASD = pd.Series(['CT', 'MD', 'NC', 'NH', 'NY', 'SC', 'RI', 'VA'])
column_order_ASD = geog_order + ['KY', 'unspecified', 'BM', 'BVI', 'FC', 'FR', 'GB']
multi_ASD.set_index(merge_order_ASD, inplace=True)
multi_ASD = multi_ASD.reindex(index=geog_order)
multi_ASD = multi_ASD.reindex(columns=column_order_ASD)
multi_ASD

,NH,VT,MA,RI,CT,NY,PA,NJ,DE,MD,...,NC,SC,GA,KY,unspecified,BM,BVI,FC,FR,GB
NH,80300.0,NaN,44002.000000,NaN,NaN,2253.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.266591e+05,NaN,NaN,NaN,NaN,NaN
VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RI,128.0,NaN,7622.000000,118950.000000,1861.0,9265.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.750000e+03,NaN,NaN,NaN,NaN,NaN
CT,959.0,272.0,12528.000000,5132.000000,542562.0,148981.000000,210.000000,1056.000000,NaN,NaN,...,NaN,NaN,1401.00,NaN,7.237937e+05,NaN,NaN,NaN,NaN,NaN
NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.228720e+06,NaN,NaN,NaN,NaN,NaN
PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MD,NaN,NaN,NaN,NaN,NaN,NaN,7670.000000,NaN,NaN,276247.0,...,NaN,302.000000,NaN,NaN,3.965800e+04,NaN,NaN,NaN,NaN,NaN
VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.684102e+06,NaN,NaN,NaN,NaN,NaN
NC,NaN,NaN,245.000000,61.000000,NaN,3475.000000,1760.000000,151.000000,NaN,877.0,...,6087.0,400.000000,90.00,61.0,6.410000e+02,NaN,NaN,NaN,NaN,NaN
SC,NaN,NaN,15293.518889,10087.306667,NaN,521659.864444,238611.281111,1458.702222,NaN,NaN,...,977.8,763402.702222,412.83,NaN,1.943907e+06,4923.18,3269.13,421.66,5484.32,102518.653333
GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ASD by percent

In [23]:
state_total_ASD = pd.Series(multi_ASD[column_order_ASD].sum(axis = 1))
state_total_ASD.replace([0.0], np.nan, inplace=True)
grand_total_ASD = state_total_ASD.sum()
multi_ASD_percent = multi_ASD.div(state_total_ASD, axis='index') * 100
state_percent_ASD = state_total_ASD / grand_total_ASD * 100
multi_ASD_percent['total'] = state_percent_ASD
multi_ASD_percent

,NH,VT,MA,RI,CT,NY,PA,NJ,DE,MD,...,SC,GA,KY,unspecified,BM,BVI,FC,FR,GB,total
NH,31.712293,NaN,17.377389,NaN,NaN,0.889761,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.020558,NaN,NaN,NaN,NaN,NaN,2.364560
VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RI,0.086735,NaN,5.164796,80.602537,1.261045,6.278121,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.606765,NaN,NaN,NaN,NaN,NaN,1.378092
CT,0.066741,0.01893,0.871880,0.357159,37.759342,10.368261,0.014615,0.073492,NaN,NaN,...,NaN,0.097502,NaN,50.372078,NaN,NaN,NaN,NaN,NaN,13.417989
NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,20.812200
PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MD,NaN,NaN,NaN,NaN,NaN,NaN,2.351246,NaN,NaN,84.683793,...,0.092578,NaN,NaN,12.157199,NaN,NaN,NaN,NaN,NaN,3.046209
VA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,25.064646
NC,NaN,NaN,1.516371,0.377545,NaN,21.507706,10.893111,0.934579,NaN,5.427988,...,2.475707,0.557034,0.377545,3.967321,NaN,NaN,NaN,NaN,NaN,0.150877
SC,NaN,NaN,0.422958,0.278975,NaN,14.427055,6.599047,0.040342,NaN,NaN,...,21.112708,0.011417,NaN,53.760793,0.136156,0.090411,0.011661,0.151675,2.835262,33.765426
GA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
s3 = multi_ASD_percent.style.format(na_rep='', precision=2).hide_columns(['BVI', 'BM', 'FR', 'GB', 'FC', 'KY'])
s3 = s3.apply(highlight_diag, axis=None)
s3

In [25]:
s3.to_excel('ASD_state_holdings_matrix.xlsx')